<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>惠农资讯</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/assets/libs/layui/css/layui.css}"/>
  <link rel="stylesheet" th:href="@{/assets/module/admin.css?v=316}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}">
</head>
<body class="micronews">
  <div class="micronews-header-wrap">
    <div class="micronews-header w1000 layui-clear">
      <h1 class="logo">
        <a href="index.html">
          <img src="/assets/images/logo/logo4.png" alt="logo">
          <span class="layui-hide">News</span>
        </a>
      </h1>
      <p class="nav" th:each="type:${types}">
        <a th:href="'/news/'+${type.newstypeid}+'/index'" th:text="${type.newstypename}"></a>
      </p>
      <div class="search-bar">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="title"  placeholder="搜索你要的内容" autocomplete="off" class="layui-input">
              <button class="layui-btn search-btn"  formnovalidate><i class="layui-icon layui-icon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="login">
        <a href="/user/login">
          登录
        </a>
       <!-- <a href="login.html"> -->
        <!-- <img src="../res/static/images/header.png" style="width: 36px; height: 36px;"> -->
       <!-- </a> -->
      </div>
      <div class="menu-icon">
        <i class="layui-icon layui-icon-more-vertical"></i>
      </div>
      <div class="mobile-nav">
        <ul class="layui-nav" lay-filter="" th:each="type:${types}">
          <li class="layui-nav-item"><a th:href="'/news/'+${type.newstypeid}+'index'" th:text="${type.newstypename}"></a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="micronews-container micronews-details-container w1000">
    <div class="layui-fluid">
      <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
          <div class="main">
            <div class="title">
              <h3 th:text="${news.title}"></h3>
              <div class="b-txt">
                <span class="label" th:text="${news.newsType.newstypename}"></span>
                <span class="icon">
                  <i class="layui-icon layui-icon-radio"></i>
                  <b th:text="${news.hits}"></b>人
                </span>
                <a href="#message">
                <span class="icon message" >
                  <i class="layui-icon layui-icon-dialogue"></i>
                  <b th:text="${comment_num}"></b>条
                </span>
                </a>
                <span class="icon time">
                  <i class="layui-icon layui-icon-log" th:text="${news.release_time}"></i>
                </span>
                <p class="source">来源：<span th:text="${news.source}"></span></p>
              </div>
            </div>
            <div class="article">
              <div th:utext="${news.content}"></div>
            </div>
            <div class="leave-message" id="message">
              <div class="tit-box">
                <span class="tit">资讯评论</span>
                <span class="num"><b th:text="${comment_num}"></b>条</span>
              </div>
              <div class="content-box">
                <div class="tear-box">
                  <form class="layui-form">
                    <div class="layui-form-item layui-form-text">
                      <div class="layui-input-block">
                        <input name="newsid" type="hidden" th:value="${newsid}">
                        <textarea name="review_content"  placeholder="输入评论" class="layui-textarea"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block" style="text-align: right;">
                        <div class="message-text">
                          <div class="txt">
                            
                          </div>
                        </div>
                        <button lay-submit class="layui-btn micronews-details-Publish" lay-filter="commentForm">发表</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="ulCommentList">
                  <div class="liCont" th:each="comment:${comments}">
                    <a href="#"><img th:src="@{/assets/images/head.png}"></a>
                    <div class="item-cont">
                      <div class="cont">
                        <p><span class="name" th:text="${comment.userid}"></span><span class="time" th:text="${comment.review_time}">1小时前</span></p>
                        <p class="text" th:text="${comment.review_content}"></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="micronews-details-test" style="text-align: center;"></div>
              </div>
            </div>
          </div>
        </div>


<!--        &lt;!&ndash; 留言模版引擎 &ndash;&gt;-->
<!--        <script type="text/html" id="messageTpl">-->
<!--          <div class="liCont">-->
<!--            <a href="">-->
<!--              <img src="{{d.avatar}}">-->
<!--            </a>-->
<!--            <div class="item-cont">-->
<!--              <div class="cont">-->
<!--                <p><span class="name">{{d.name}}</span><span class="time">1小时前</span></p>-->
<!--                <p class="text">{{d.cont}}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </script>-->




      </div>
    </div>
  </div>
  



  <div class="micronews-footer-wrap">
    <div class="micronews-footer w1000">
      <div class="Copyright">
        <span>Copyright&nbsp;</span>&nbsp;&copy;<span>王梁媛&nbsp;&nbsp;</span><span>2020</span>
      </div>
      <div class="f-icon">
      </div>
    </div>
  </div>

  <script type="text/javascript" th:src="@{/assets/libs/layui/layui.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/common.js?v=316}"></script>

  <script type="text/javascript" src="../res/layui/layui.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

  <![endif]-->
  <script>
    layui.use(['layer', 'form', 'step'], function () {
      var $ = layui.jquery;
      var layer = layui.layer;
      var form = layui.form;


      form.on('submit(commentForm)', function (data) {
        url = "/news/comment/save";
        $.post(url, data.field, function (res) {
          layer.closeAll('loading');
          if (res.code == 200) {
            layer.msg(res.msg, {icon: 1});
            location.reload();
          } else {
            layer.msg(res.msg, {icon: 2});
          }
        }, 'json');
        return false;
      });


    });
  </script>
</body>
</html>