<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>农事记录</title>
    <link rel="stylesheet" th:href="@{/assets/libs/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/assets/module/admin.css?v=316}"/>
    <link rel='stylesheet' th:href='@{/assets/libs/fullcalendar/core/main.css}'/>
    <link rel='stylesheet' th:href='@{/assets/libs/fullcalendar/daygrid/main.css}'/>
    <link rel='stylesheet' th:href='@{/assets/libs/fullcalendar/timegrid/main.css}'/>
    <style>
        /** 日历样式设置 */
        .fc-time-grid-event {
            cursor: pointer;
        }

        .fc-event-container > a:nth-child(odd) {
            background-color: #f05261;
            border-color: #f05261;
        }

        .fc-event-container > a:nth-child(even) {
            background-color: #48a8e4;
            border-color: #48a8e4;
        }

        .fc-event-container > a:nth-child(3) {
            background-color: #ffd061;
            border-color: #ffd061;
        }

        .fc-event-container > a:nth-child(4) {
            background-color: #52db9a;
            border-color: #52db9a;
        }

        .fc-event-container > a:nth-child(5) {
            background-color: #70d3e6;
            border-color: #70d3e6;
        }

        /* 去掉下面空白部分 */
        .fc-widget-content > .fc-scroller.fc-time-grid-container {
            height: auto !important;
        }

        .fc-time-grid .fc-slats + .fc-divider.fc-widget-header {
            display: none;
        }

        /** //日历样式设置end */
    </style>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-btn-group">
                            <button id="btnPrev" class="layui-btn icon-btn">
                                <i class="layui-icon">&#xe65a;</i>
                            </button>
                            <button id="btnNext" class="layui-btn icon-btn">
                                <i class="layui-icon">&#xe65b;</i>
                            </button>
                        </div>
                        <button id="btnRefresh" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe669;</i>
                        </button>
                        <button class="layui-btn icon-btn" id="demoEDBtnAddCourseS">
                            <i class="layui-icon">&#xe654;</i>添加农事
                        </button>
                    </div>
                    <div class="layui-inline pull-right" style="margin-right: 0;">
                        <div class="layui-btn-group">
                            <button class="layui-btn icon-btn layui-btn-disabled"
                                    style="border-left: 1px solid #e6e6e6;border-right: none;">
                                <i class="layui-icon">&#xe637;</i>显示一周
                            </button>
                            <a href="fullcalendar2.html" class="layui-btn icon-btn" style="border-left: none;">
                                <i class="layui-icon">&#xe62d;</i>显示两周
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="overflow: auto;">
                <div id="calendarTb" style="min-width: 800px;"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="EDModelAddCourseS">
    <form id="EDCourseForm" lay-filter="EDCourseForm" class="layui-form model-form layui-row">
        <input name="schedulingId" type="hidden"/>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">土地名称:</label>
                    <div class="layui-input-block">
                        <select name="soil.id" lay-verType="tips" lay-verify="required" required>
                            <option value="">请选择土地名称</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">作物名称:</label>
                    <div class="layui-input-block">
                        <select name="seed.id" lay-verType="tips" lay-verify="required" required>
                            <option value="">请选择作物</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">农事类型:</label>
                    <div class="layui-input-block">
                        <select name="farmwork.id" lay-verType="tips" lay-verify="required" required>
                            <option value="">请选择农事类型</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">天气:</label>
                    <div class="layui-input-block">
                        <input name="maxNum" placeholder="同步天气" type="text" class="layui-input" min="1" max="9999"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">起止日期:</label>
                    <div class="layui-input-block">
                        <input id="EDdateRange" name="dateRange" placeholder="请选择起止日期" autocomplete="off"
                               class="layui-input date-icon" lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">时间段:</label>
                    <div class="layui-input-block">
                        <input id="EDtimeRange" name="timeRange" placeholder="请选择操作时间段" autocomplete="off"
                               class="layui-input date-icon" lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">备注:</label>
                    <div class="layui-input-block">
                        <input name="className" placeholder="请输入备注" type="text" class="layui-input" maxlength="50"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
            <button class="layui-btn" lay-filter="EDCourseSModelSubmit" lay-submit>保存</button>
        </div>
    </form>
</script>
<!-- js部分 -->
<script type="text/javascript" th:src="@{/assets/libs/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/common.js?v=316}"></script>
<script th:src='@{/assets/libs/fullcalendar/core/main.js}'></script>
<script th:src='@{/assets/libs/fullcalendar/daygrid/main.js}'></script>
<script th:src='@{/assets/libs/fullcalendar/timegrid/main.js}'></script>
<script>
    layui.use(['layer', 'form', 'util', 'admin','laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var util = layui.util;
        var admin = layui.admin;
        var laydate = layui.laydate;
        var mDataList = [];  // 当前的数据

        // 渲染日历
        var calendar = new FullCalendar.Calendar(document.getElementById('calendarTb'), {
            plugins: ['timeGrid'],
            defaultView: 'timeGridWeek',
            locale: 'zh-cn',
            firstDay: 1,
            header: false,
            allDaySlot: false,
            columnHeaderFormat: {month: 'numeric', day: 'numeric', omitCommas: true, weekday: 'short'},
            minTime: '08:00:00',
            maxTime: '23:00:00',
            events: function (option, callback) {
                console.log(option.start);  // 当前选中周的第一天
                layer.load(2);
                $.get('/sow/sowrecord/findAllRecord', {
                    // date: util.toDateString(option.start, 'yyyy-MM-dd')   // 此参数传给后端做数据筛选
                }, function (res) {
                    layer.closeAll('loading');
                    var dataList = [];
                    if (res.code == 200) {
                        mDataList = res.data;
                        // mDataList = processData(mDataList);
                        for (var i = 0; i < mDataList.length; i++) {
                            var one = mDataList[i];
                            // var starttime = util.toDateString(one.starttime,'MM-DD')
                            dataList.push({
                                start: util.toDateString(one.startdate, 'yyyy-MM-dd') + ' ' + one.starttime,
                                end: util.toDateString(one.enddate, 'yyyy-MM-dd')+ ' ' + one.endtime,
                                title: '土地名称：'+one.soil.name+'\n'+'种植作物：'+one.seed.name+'\n'+one.content,
                                id: one.id
                            })
                        }
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                    callback(dataList);
                }, 'json');
            },
            eventClick: function (info) {
                console.log(info.event.id);  // 点击的数据id
                // 根据id获取对应的数据
                for (var i = 0; i < mDataList.length; i++) {
                    if (info.event.id == mDataList[i].id) {
                        layer.alert(JSON.stringify(mDataList[i]), {title: '你点击的数据是：', shadeClose: true});
                        break;
                    }
                }
            }
        });
        calendar.render();

        // 添加排课
        $('#demoEDBtnAddCourseS').click(function () {
            var mData = {weekdays: '3,5,7'};  // 回显数据
            admin.open({
                type: 1,
                title: '添加农事',
                area: '670px',
                content: $('#EDModelAddCourseS').html(),
                success: function (layero, dIndex) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    if (mData) {  // 将逗号分隔的星期转成复选框对应的格式
                        var weekdays = mData.weekdays.split(',');
                        for (var i = 0; i < weekdays.length; i++) {
                            mData['week_' + weekdays[i]] = weekdays[i];
                        }
                    }
                    form.val('EDCourseForm', mData);  // 回显数据
                    // 表单提交事件
                    form.on('submit(EDCourseSModelSubmit)', function (data) {
                        data.field.weekdays = '';  // 将星期复选框选中值变成逗号分隔
                        for (var f in data.field) {
                            if (f.indexOf('week_') == 0) {
                                data.field.weekdays && (data.field.weekdays += ',');
                                data.field.weekdays += data.field[f];
                            }
                        }
                        console.log(data.field);
                        layer.msg("表单验证通过", {icon: 1});
                        return false;
                    });
                    // 日期范围
                    laydate.render({
                        elem: '#EDdateRange',
                        range: true,
                        trigger: 'click'
                    });
                    // 时间范围
                    laydate.render({
                        elem: '#EDtimeRange',
                        type: 'time',
                        format: 'HH:mm',
                        range: true,
                        trigger: 'click'
                    });
                }
            });

        });



        // 上一周
        $('#btnPrev').click(function () {
            calendar.prev();
        });

        // 下一周
        $('#btnNext').click(function () {
            calendar.next();
        });

        // 刷新
        $('#btnRefresh').click(function () {
            calendar.refetchEvents();
        });

        // 处理静态数据，修改数据的日期，以保证演示系统一进入就有数据
        function processData(data) {
            var nowDate = new Date();
            var day = nowDate.getDay() || 7;
            var monday = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate() + 1 - day);
            for (var i = 0; i < data.length; i++) {
                var tDate = new Date(monday.getTime() + 1000 * 60 * 60 * 24 * i);
                if (i > 1) {
                    tDate = new Date(monday.getTime() + 1000 * 60 * 60 * 24 * (i - 1));
                }
                data[i].startdate = util.toDateString(tDate, 'yyyy-MM-dd');
                data[i].enddate = data[i].startdate;
            }
            return data;
        }



    });
</script>
</body>
</html>